<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.orlando.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_agenda"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone_agenda"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.FormContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ShowContactsActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_lista_contatos" />
        <activity android:name=".view.CadastroUsuarioActivity" />
        <activity android:name=".view.ShowContactsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>